<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cp" class="shoppingcart.Creditcardpayment" primary="true" />

	<bean id="dp" class="shoppingcart.Debitcardpayment" />

	<bean id="sc" class="shoppingcart.ShoppingKart" autowire="constructor" >
		
	</bean>

</beans>